#jenkins {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: #777;
    background-color: #fff;

    :focus {
        outline: none;
    }

    body,
    table,
    form,
    td,
    th,
    p {
        color: #777;
    }

    a,
    a:visited {
        color: #555;
        text-decoration: none;

        &:focus,
        &:hover {
            color: #4c4e54;
        }
    }

    b {
        font-weight: bold;
    }

    h1 {
        font-size: 32px;
        padding-bottom: 20px;
    }

    h2 {
        font-size: 24px;
        padding-bottom: 15px;
    }

    p {
        padding-bottom: 15px;
    }

    ul {
        list-style-type: disc;
        list-style-position: inside;
        padding-bottom: 15px;
    }

    ol {
        list-style-type: decimal;
        list-style-position: inside;
        padding-bottom: 15px;
    }

    ul ul,
    ol ul {
        list-style-type: circle;
        list-style-position: inside;
        margin-left: 15px;
    }

    ol ol,
    ul ol {
        list-style-type: lower-latin;
        list-style-position: inside;
        margin-left: 15px;
    }

    input[type='text'],
    input[type='password'],
    textarea {
        @include box-shadow(none);
        @include border-radius(0);

        margin-top: 5px;
        height: 36px;
        padding: 5px 10px;
        font-size: 16px;
        line-height: 24px;
        color: #7f8fa4;
        background: #fff;
        border-color: #e7e9ed;
    }

    form > table {
        tr {
            border-top: 1px dashed #e1e6f1;

            td {
                padding-top: 8px;
                padding-bottom: 8px;
            }

            &.validation-error-area,
            &.row-set-end,
            &.rowvg-start,
            &.help-area,
            &:empty {
                border-top: 0;

                td {
                    padding: 0;

                }
            }
        }
    }
}
